absl-py==1.4.0
aniso8601==9.0.1
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
chex==0.1.82
click==8.1.7
etils==1.4.1
filelock==3.12.3
Flask==2.3.3
Flask-RESTful==0.3.10
flax==0.7.2
fsspec==2023.9.0
huggingface-hub==0.16.4
idna==3.4
importlib-resources==6.0.1
itsdangerous==2.1.2
jax==0.4.14
jaxlib==0.4.14
Jinja2==3.1.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
ml-dtypes==0.2.0
mpmath==1.3.0
msgpack==1.0.5
nest-asyncio==1.5.7
networkx==3.1
numpy==1.25.2
opt-einsum==3.3.0
optax==0.1.7
orbax-checkpoint==0.3.5
packaging==23.1
Pillow==10.0.0
protobuf==4.24.2
Pygments==2.16.1
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
rich==13.5.2
safetensors==0.3.3
scipy==1.11.2
six==1.16.0
sympy==1.12
tensorstore==0.1.41
tokenizers==0.13.3
toolz==0.12.0
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tqdm==4.66.1
transformers==4.33.0
typing_extensions==4.7.1
urllib3==2.0.4
Werkzeug==2.3.7
zipp==3.16.2
